$black: #232323;
$title: #181818;
$syb-title: #7b7b7b;
$background: #ffdf8c;
$gray-line: #d0d0d0;
$white-line: #f9f9f9;
$card-bg: #f3f3f3;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.4s;
